/*Resetear estilos del navegador*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "nunito", sans-serif;
  scrollbar-color: rgb(0, 105, 197) transparent;
  scrollbar-width: thin;

}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

:root {
    scroll-behavior: smooth;
}

/*Color de fondo y texto de todo el sitio*/
body {
    background-color: #181419;
    color: white;
    scroll-behavior: smooth;
}

/*Estilos header*/
header {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgb(0, 105, 197);
  height: 10vh;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #3b3b3b inset;
}

/* header nav */
.header_nav_links {
    width: 100%;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
}

.header_nav_links a{
  font-family: Bebas Neue,sans-serif;
  font-size: 1.7rem;
  color: whitesmoke;
  font-weight: 500;
}

/* Logo y Texto */
.header_logo {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: all ease-in-out 500ms;
}

/* Efecto hover logo */
.header_logo:hover {
    animation-name: heartBeat;
    animation-duration: 2s;
    animation-fill-mode: both;
}

/* lista de links de navegación */
.header_list_links {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4%;
  list-style: none;
  
}

.header_items {
  text-align: left;
  white-space: nowrap;
}

/* link de navegación*/
.header_link {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all ease-in-out 500ms;
}

/* efectos hover link de navegacion y logo header */
.header_link:hover,
.header_logo:hover {
  color: rgb(44, 44, 44);
  /* font-weight: bolder; */
}

/* link de login y API */
.header_link-login {
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #000;
    color: white;
    transition: all ease-in-out 500ms;
}

/* color de fondo link API */
.header_link-api{
  padding: 8px 14px;
  background-color: transparent;
  border: 2px solid whitesmoke;
  min-width: 146px;
}

.header_link-login:hover {
  background-color: whitesmoke;
  color: rgb(0, 105, 197);
}

/* Botón mostrar/ocultar links de navegación responsive - se oculta en resoluciones grandes */
.btn_menu_toggle {
    cursor: pointer;
    transform: scale(1.1);
}

/* Estilo botón abrir menú */
.btn_menu_toggle-open {
    display: none;
}

/* Estilo botón cerrar menú */
.btn_menu_toggle-close {
    display: none;
}

/* margen superior para el contenedor principal */
.main-container {
    margin-top: 10vh;
}

/* Contenido principal - Registrarse */
.main_register {
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-image: linear-gradient(to right top, #0000008a, #0000008a),
        url('../images/banner-bg.jpg');
    background-size: cover;
}

/*Titulo principal*/
.main_register-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/*Titulo secundario*/
.main_register-subTitle {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/*Botón registrar*/
.main_register_btn {
  margin-top: 1rem;
  padding: 15px 25px;
  background-color: rgb(0, 105, 197);
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color ease-in-out 500ms;
}

/*Sección buscar menú principal*/
.main_search_container {
    margin: 70px auto;
    opacity: 0;
}

/*titulo search*/
.main_search_title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/*form input search*/
.main_search_input {
    width: 70%;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
}

.main_search_input:focus {
  outline: none;
  border: transparent;
  outline-offset: -2px;
  box-shadow: 0 0 4px 5px rgb(0, 105, 197);
}

/*boton form search*/
.main_search_btn {
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
  color: white;
  background-color: rgb(0, 105, 197);
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid white;
  transition: background-color ease-in-out 500ms;
}

/*linea divisoria*/
.line_divisor {
  width: 80%;
  margin: auto;
  border: 1px solid rgb(0, 105, 197);
}

/*sección peliculas - tendencias*/
.main_trends {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

/*botones tendencias anterior - siguiente */
.main_trends_btn {
  background-color: rgb(0, 105, 197);
  width: 110px;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid white;
  transition: background-color ease-in-out 500ms;
}

/*Sección peliculas - aclamadas*/
.main_acclaimed {
    opacity: 0;
}

/* contenedor detalle pelicula */
.container_movie_detail{
  margin-top: 19vh;
  margin-bottom: 10vh;
  min-height: calc(100vh - 20vh - 135px);
}


/* Footer **************************************/
footer {
  background-color: rgb(0, 105, 197);
}

/* footer nav */
.footer_list_links {
    list-style: none;
    font-size: 1rem;
}

/* footer link */
.footer_link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 500ms;
}

/* efectos links footer hover */
.footer_link:hover {
  color: rgb(41, 41, 41);
  font-weight: bolder;
}

/*footer - link activo*/
.footer_link-active {
    background-color: #181419;
    color: white;
    padding: 0.7rem 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all ease-in-out 500ms;
}

/* footer - link activo - hover */
.footer_link-active:hover {
  background-color: whitesmoke;
  color: rgb(0, 105, 197);
}

/* Estilo copyright footer */
.footer_copyRight {
  margin-bottom: 0px;
  font-size: 0.7rem;
  color: #f5f5f5;
}

/*botón ir arriba*/
.btn_top {
    position: fixed;
    display: none;
    bottom: 1rem;
    right: 1rem;
    width: 1.8rem;
    cursor: pointer;
}

.btn_top_image:hover {
    background-color: rgb(54, 54, 56);
    border-radius: 50%;
}

/*  Quitar márgenes */
.no-margin {
    margin: 0;
}

/* Sección Pelicuas - Tendencias */
/* contenedores de peliculas */
.trends_container {
    opacity: 0;
}

/* Contenedor de pelicula */
.trend_container {
    position: relative;
    width: 200px;
    min-height: 300px;
    overflow: hidden;
}

/* imágen de pelicula */
.trend_image {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transition: all ease-in-out 300ms;
}

/* Efecto al pasar el mouse sobre las cards */
/* contenedor en efecto hover */
.trend_container-hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 15px;
    opacity: 0;
    transition: all ease-in-out 900ms;
    transform: scale(1);
}

/* titulo en efecto hover */
.trend_title-hover {
    text-shadow: 1px 1px 3px black;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Reviews en efecto hover */
.trend_review-hover {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Imágen en efecto hover */
.trend_image-hover {
    width: 40%;
    margin-top: 1rem;
    filter: contrast(60%);
    transform: rotateY(-180deg);
    transition: transform ease-in-out 1s;
}

/* aL hacer hover en card aplicar el efecto en la imágen */
.trend_container:hover .trend_image {
    filter: blur(2px) grayscale(1) contrast(20%);
    transform: scale(0.98);
}

/* al hacer hover en la card mostrar el contenido oculto aplicando algunos estilos */
.trend_container:hover .trend_container-hover {
    transform: scale(0.98);
    opacity: 1;
    visibility: visible;
}

/* al hacer hover en la card aplicar efecto sobre imágen que se muestra en el hover  */
.trend_container:hover .trend_image-hover {
    transform: rotateY(0deg);
}

/* Sección Pelicuas - Aclamadas */
/* Contenedor de todas las peliculas */
.acclaimeds_container {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 105, 197) #ffffff33;
}

/* Contenedor de pelicula */
.acclaimed_container {
    width: 160px;
    min-width: 160px;
    height: 240px;
    min-height: 240px;
}

/* Imagen aclamadas */
.acclaimed_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Estilos botones slice aclamadas */
.acclaimed_btn {
  display: none;
  margin-left: 80px;
  margin-right: 70px;
  color: whitesmoke;
  padding: 1px 3px;
  background: rgb(0, 105, 197);
  border: none;
  opacity: 1;
  border-radius: 4px;
}

/* Efecto mostrar botones slice cuando estoy en el contenedor aclamadas */
.acclaimeds:hover .acclaimed_btn {
    display: block;
    animation-name: opacity;
    animation-duration: 1s;
}

/* ocultar botones slice next/prev - Basado en lo configurado en javascript */
.acclaimed_btn-hide {
    visibility: hidden;
}

/* efectos botones hover */
.main_trends_btn:hover,
.main_register_btn:hover,
.main_search_btn:hover,
.form_btn:hover {
  background-color: rgb(36, 143, 236);
}

/* ****************************************************************************************************************************** */

/* Estilos página de Registro - Login */

/* Imágen de fondo */
.register_container {
    background-repeat: repeat;
    background-size: cover;
    background-image: linear-gradient(to left bottom, #000000, #000000),
        url('../images/fondo_movie.png');
}

/* main página de registrarse */
.register_main_container {
    margin-top: 10vh;
    position: absolute;
    width: 100%;
}

/* ====FORMULARIO PELICULAS====== */

.peliculas_container {
    margin-top: 15vh;
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-image: url('../../asset/images/fondo_movie.png');*/
}

.form-peliculas {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 1rem;
    color: #ffffff;
    /*box-shadow: 0 0 10px #030303;*/
    border: none;
    background-color: #222222;
    box-shadow: 0 0 10px 2px #000;

    /* INPUT CSS */

    input {
        padding: 6px;
        margin: 5px auto;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid rgb(0, 105, 197);
        width: 80%;
        background-color: #222222;
        color: white;
    }

    select {
        padding: 6px;
        margin: 5px auto;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        width: 80%;
        text-align: center;
        background-color: #222222;
        color: white;
        border: 2px solid rgb(0, 105, 197);
    }

    label {
        margin: 5px auto;
        font-weight: bold;
    }

    input[type='submit'] {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgb(0, 105, 197);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin: 0 auto;
    }

    .date {
        color: white;
    }

    .h1-form {
        font-size: 3rem;
        font-weight: bold;
    }

    .descripcion {
        width: 80%;
        margin: 0 auto;
        padding: 5px 7px;
        height: 100px;
        border-radius: 10px;
        background-color: #222222;
        color: white;
        border: 2px solid rgb(0, 105, 197);
    }
    select,
    option {
        background-color: #222222;
        color: white;
    }
}

/*===========FIN CONTENEDOR FORMULARIO DE REGISTRO (ESTEBAN)=========== */

/* contenedor formulario de registro */
.register_form_container {
    background-color: #222222;
    box-shadow: 0 0 10px 2px #000;
}

/* input formulario */
.form_input {
  font-size: 1.3rem;
  padding: 8px 15px;
  border-radius: 7px;
  outline: none;
  border: 2px solid rgb(0, 105, 197);
  background: transparent;
  color: silver;
}

/* Registrarse - input date - mostrar texto como placeholder para que se vea en dispositivos mobiles */
.form_input-date {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    left: 0;
    margin-left: 1px;
    margin-top: 1px;
    font-size: 1.3rem;
    padding: 8px 15px;
    outline: none;
    background: transparent;
    color: gray;
    z-index: -1;
}

/* ocultar el icono de calendario del input date */
input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 1;
}

/* color de placeholder del input de fecha  */
input[type='date'] {
    color: transparent;
}

.form_select {
    font-size: 1.3rem;
    color: grey;
}

/* cmbiar color al hacer foco en input */
.form_input:focus {
  border: 2px solid rgb(0, 105, 197);
}

/* estilos link de formulario */
.form_link {
    font-size: 0.9rem;
    text-decoration: none;
    color: gray;
    transition: color ease-in-out 500ms;
}

/* efecto hover link */
.form_link:hover {
    color: rgb(179, 174, 174);
}

/* texto de términos y condiciones */
.form_terms_text {
    font-size: small;
    margin-left: 5px;
    color: silver;
}

/* terminos y condiciones */
.form_container_terms {
    display: flex;
    align-items: center;
}

/* Boton del formulario */
.form_btn {
  font-size: 1.2rem;
  padding: 10px 5px;
  border-radius: 7px;
  background-color: rgb(0, 105, 197);
  color: white;
  border: none;
  transition: background-color ease-in-out 500ms;
}

/* ************************************************************************************************/
/* Animaciones animate.css */
.anim_slice_up {
    animation-name: zoomIn;
    animation-duration: 1s;
    opacity: 1;
}

/* Animación secciones opacidad */
/* Aparecer */
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Desaparecer */
@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Estilos página Api - Rick and Morty */
/* contenedor de cards */
.container_api {
    margin-top: 20vh;
    min-height: calc(80vh - 138px);
}
/* card de personaje */
.card_character{
  transform: scale(1);
  background-color: rgb(0, 105, 197);
  cursor: pointer;
  transition: all ease-in-out 500ms;
}
.card_character:hover {
    transform: scale(0.9);
}

/* Botones next -prev card de personajes */
.btn_next_prev{
  padding: 10px 20px;
  margin: 0 20px;
  border:2px solid rgb(0, 105, 197);
  background-color: transparent;
  color: rgb(0, 105, 197);
  border-radius: 5px;
  transition: all ease-in-out 500ms;
}
/* efecto hover botón */
.btn_next_prev:hover{
  background-color: rgb(0, 105, 197);
  color: white;
}

/* botón deshabilitado */
.btn_next_prev:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: black;
    border: none;
    background-color: rgb(110, 110, 110);
}

/* Estilos de spinner loading */
.spinner_style{
  color: rgb(0, 105, 197);
}
/* 
.img-visualizar {
  width: 200px;
  height: 220px;
  background-image: url(../../asset/images/no-disponible.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  box-shadow: 0 0 5px 2px #0069c5;
} */


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .header_nav_links a{
    font-size: 1.2rem;
  }

  .header_link{
    font-size: 0.9rem;
  }
  .header_link-login{
    padding: 10px 9px;
    font-size: 0.9rem;
  }
  .header_link-api{
    padding: 8px 9px;
    font-size: 0.9rem;
  }
}

/* MEDIA QUERIES *************************************************************************** */
/* Resoluciones inferiores a 768px */
@media only screen and (max-width: 768px) {
  /* Ocultar links de navegacion */
  .header_list_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background: rgb(0, 105, 197);
    padding: 0;
    height: auto;
  }

  .header_list_links a{
    display: flex; /* Enables horizontal layout */
    align-items: center; /* Aligns content vertically */
    justify-content: flex-start; /* Aligns content to the left */
    padding-left: 20px; /* Margin on the left side */
  }

  /* items del nav */
  .header_items {
    width: 100%;
  }

  /* items del nav links */
  .header_link {
    display: block;
    padding: 10px 0;
    text-align: center;
    transition: all ease-in-out 500ms;
  }

  /* estilo link login */
  .header_link-login {
    display: block;
    border-radius: 0;
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    transition: none;
  }

  /* color de fondo link API */
.header_link-api{
  background-color: rgb(0, 105, 197);
  padding: 8px 0;
  border: none;
}

  /* efectos hover links */
  .header_link:hover {
    /* display: block; */
    /* padding: 10px 0; */
    background-color: whitesmoke;
    color: rgb(0, 105, 197);
    box-shadow: none;
  }

  .header_link-login:hover {
    background-color: whitesmoke;
    color: rgb(0, 105, 197);
    /* padding: 10px 14px; */
    border-radius: 0;
    /* font-size: 1.1rem; */
    text-decoration: none;
    transition: all ease-in-out 500ms;
  }

  /* Mostrar links */
  .show_links {
    display: block;
    opacity: 1;
  }

  /* Mostrar links animación menú */
  .show_links-animation {
    animation-name: slideDown;
    animation-duration: 500ms;
  }

  /* Ocultar links animación menú */
  .hide_links-animation {
    animation-name: slideUp;
    animation-duration: 500ms;
  }

  /* Mostrar / ocultar el botón toggle */
  .btn_menu-active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 500ms;
  }

  /* animación mostrar menu */
  @keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: auto;
    }
  }
  /* animación ocultar menu */
  @keyframes slideUp {
    from {
      opacity: 1;
      height: 1;
    }
    to {
      opacity: 0;
      height: 0;
    }
  }
  /* Titulo principal index */
  .main_register-title {
    font-size: 3rem;
  }

  /* subtitulo index */
  .main_register-subTitle {
    font-size: 2rem;
  }

  /* Botón registrar index */
  .main_register_btn {
    font-size: 1.2rem;
  }

  /*  título sección buscar */
  .main_search_title {
    font-size: 2.1rem;
  }

  /* Mostrar scroll - peliculas aclamadas */
  .acclaimeds_container {
    overflow: auto;
    padding-bottom: 30px;
  }

  /*  Estilos botones scroll alcamadas */
  .acclaimeds:hover .acclaimed_btn {
    display: none;
  }

  /* copyright */
  .footer_copyRight {
    font-size: 0.6rem;
  }
}

/* ********************************************************************************* */
/* Resoluciones inferiores a 576px */
@media only screen and (width < 576px) {
  /* Titulo principal index */
  .main_register-title {
    font-size: 2.4rem;
  }

  /* subtitulo index */
  .main_register-subTitle {
    font-size: 1.5rem;
  }

  /* Botón registrar index */
  .main_register_btn {
    font-size: 1.1rem;
  }

  /*  título sección buscar */
  .main_search_title {
    font-size: 1.8rem;
  }

  /* botón buscar */
  .main_search_btn {
    margin-top: 10px;
    width: 70%;
  }

  /* ancho botón anterior/siguiente */
  .main_trends_btn {
    width: 70px;
  }

  /* Mostrar scroll */
  .acclaimeds_container {
    overflow: auto;
    padding-bottom: 30px;
  }
}

/*
-----------------------------------------------------------------------------------------------------------
            STYLES - API - BACKEND
-----------------------------------------------------------------------------------------------------------
*/

/* botón agregar nueva pelicula - dashboard */

.container-api{
  margin-top: 10vh;
}

.link_movie-add{
  display: flex;
  align-items: center;
  gap:5px;
  text-decoration: none;
  color:whitesmoke;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: rgb(0, 105, 197);
  transition: all 500ms ease-in-out;
}

.link_movie-add:hover{
  background-color: rgb(0, 105, 197);
  color:white;
}

/* Imágen vista tabla */

.table-image{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Boton eliminar tabla dashboard */
.link-delete{
  background:transparent;
  border: none;
}

/* Imágenes de las card - vista previa dashboard - index.php */
.img-card{
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;   
}

/* Imágenes formulario modo edición */
.img-form{
  width:80%;
  height: 250px;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0 0 1px 2px #0069c5;
}

/* Botón estado acvito / no activo  */
input[type=checkbox]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(0, 105, 197);
  background-color: dimgrey;
}

input[type=checkbox]:checked{
  background-image: url("../../asset/images/check_17.png");
  background-position: center;
}

/* inicio search */


#resultados{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.trend_container {
  text-align: center;
}
.trend_image {
  width: 100%;
  max-width: 200px;
}
#clearButton {
  display: none;
}
/* fin search */

/* Links de linkedin */

.link-linkedin:hover{
  opacity:0.8;
}